/* === start of variable === */
$color-primary: rgb(255, 255, 255);
$color-secondary: rgb(0, 0, 0);
$bg-red: rgb(255, 95, 90);
$bg-blur: rgba(255, 255, 255, 0.1);
$bg-green: rgb(42, 202, 68);
/* === end of variable === */
/* === start of section === */
.login-page {
    & {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;
    }

    .red {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-130%, -160%);
        background: linear-gradient(to top left, rgb(255, 95, 90), rgb(129, 28, 24));
        height: 10rem;
        width: 10rem;
        border-radius: 10rem;
    }

    .green {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(30%, 80%);
        background: linear-gradient(to bottom left, rgb(42, 202, 68), rgb(24, 117, 39));
        height: 10rem;
        width: 10rem;
        border-radius: 10rem;
    }

    .login {
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 320px;
        height: 400px;
        padding: 2rem;
        border: 2px solid rgba(255, 255, 255, 0.1);
        border-radius: 0.5rem;
        background-color: $bg-blur;
        backdrop-filter: blur(0.5rem);
        box-shadow: 0rem 0rem 2rem rgba($color: #000000, $alpha: 0.5);
    }

    h2 {
        padding: 0.5rem;
        width: 100%;
        text-align: center;
    }
    
    h2,
    label {
        color: $color-primary;
    }
    
    input,
    label {
        display: block;
        width: 100%;
    }

    input {
        padding: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    ::placeholder {
        color: $color-primary;
        font-weight: lighter;
    }
    
    .btn {
        margin-top: 1.5rem;
        margin-bottom: 0rem;
    }
    
    input:not(.btn) {
        background-color: $bg-blur;
        border-radius: 0.4rem;
        border: none;
    }
}
/* === end of section === */
/* === start of function === */

/* === end of function === */
